Source: yoctolib-php
Section: non-free/php
Priority: optional
Maintainer: Ciol Hcor <ciol@hcor.ch>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.3.0
Homepage: https://www.yoctopuce.com/
Vcs-Git: https://github.com/g-roch/yoctolib_php.git
Vcs-Browser: https://github.com/g-roch/yoctolib_php

Package: libphp-yocto
Architecture: all
Depends: ${misc:Depends}, php-common
Suggests: libphp-yocto-doc, yocto-virtualhub
Description: PHP libraries for access to USB Yoctopuce devices
 Yoctopuce designs, manufactures and sells USB devices for automatic system 
 builders.
 .
 PHP libraries for access to USB Yoctopuce devices
 
Package: libphp-yocto-doc
Section: non-free/doc
Architecture: all
Depends: ${misc:Depends}
Description: documentation for yoctolib-php
 Yoctopuce designs, manufactures and sells USB devices for automatic system 
 builders.
 .
 Documentation and example for yoctolib-php

